# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema operativo (Windows)
Thumbs.db
Desktop.ini
*.stackdump

# Editor (VS Code)
.vscode/
*.swp
*.swo

# Archivos temporales
*.tmp
*.temp
.DS_Store
